
h1{
    background-color: rgb(238, 253, 236);
    border-radius: 9px;
    padding: .4em;
    margin-top: .2em;
    color: rgb(0, 186, 189);
    text-align: center;
}

h2{
    color: rgb(0, 186, 189);
}

div > p{
    font-weight: bold;
}

span{
    color: darkred;
}

::placeholder{
    font-style: italic;
}

::-ms-input-placeholder{
    font-style: italic;
}

select{
    font-style: italic;
    color: grey;
}